.logo-global-labs{
    margin-left: 40px;
}

.navbar {
    background-color:white;
}

.quem-somos {
    background-color:#B81DAC;
    color: white;
}

.padding {
    padding-top:40px;
    padding-bottom:40px;
}


.parceiros {
    background-color:#6B0163;
}

.bg-footer {
    background-color: black;
    color: white;
    padding-top: 10px;
}

